<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
	<div class="container-fluid">
	<div id="nav">
		
		<div class="row" style="margin-top:100px;">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<h1 class="header text-center">Калькулятор стоимости ТО</h1>
			</div>
			<div class="col-sm-2"></div>
		</div>

		<div class="row" style="margin-top:100px;">
			<div class="col"></div>
			<div class="col">
				<h5 class="text-center">Марка</h4>
				<select v-on:change="changeBrand($event)" v-model="currentBrandId" class="form-control">
					<option v-if="currentBrandId == null" disabled>Выберите марку автомобиля</option>
					<option v-for="brand in brands" v-bind:value="brand" placeholder="Выберите марку автомобиля" class="font-weight-bold"> {{ brand.name }} </option>
				</select>
			</div>
			<div class="col">
				<h5 class="text-center">Модель</h4>
				<select v-on:change="changeModel($event)" v-model="currentModelId" class="form-control">
					<option v-if="currentBrandId == null" disabled>Сначала выберите марку автомобиля</option>
					<option v-else disabled>Выберите модель автомобиля</option>
					<option v-for="model in models" v-bind:value="model.id" class="font-weight-bold"> {{ model.name }} </option>
				</select>
			</div>
			<div class="col">
				<h5 class="text-center">Двигатель</h4>
				<select v-model="currentEngineId" class="form-control" v-on:change="findServices()">
					<option v-if="currentBrandId == null" disabled>Сначала выберите марку и модель вашего автомобиля</option>
					<option v-if="currentModelId == null && currentBrandId != null" disabled>Сначала выберите модель вашего автомобиля</option>
					<option v-else disabled>Выберите двигатель вашего автомобиля</option>
					<option v-for="engine in engines" v-bind:value="engine.code" class="font-weight-bold"> {{ engine.name }} </option>
				</select>
			</div>
			<div class="col"></div>
			<!-- <div class="col"></div> -->
		</div>

		
		
		<!-- <p>{{ currentBrandId }}</p>
		<p>{{ brands }}</p>
		
		<p>{{ currentModelId }} </p>
		
		<p>{{ currentEngineId }} </p> -->
		
	</div>
<div id="expenses">
	<div class="row" style="margin-top:30px">
			<div class="col-sm-3"></div>			
			<div class="col-sm-5"><!-- <button v-on:click="findServices()" class="col btn btn-primary" >Найти услуги</button> --></div>
			<!-- <div class="col"></div> -->
			<div class="col-sm-2 border-box">
				{{currentBrandImgSrc}}
					<p class="font-weight-bold">стоимость работ: <br>{{ work }}  &#x20bd</p>
					<p class="font-weight-bold">стоимость запчастей: <br>{{ parts }}  &#x20bd</p>
					<!-- <p class="font-weight-bold lead">___________________</p> -->
					<p class="font-weight-bold lead" style="border-top:2px solid #b72a20;">Итого: {{ work + parts }}  &#x20bd</p>
				</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
	<div id="services" style="margin-top:50px">
		<!-- <p>{{ services }}</p> -->
		<div>
		<div v-for="s in services">
			<div class="row">
				<div class="col"></div>
				<div class="col service-box">
				<h5><label><input type="checkbox"  v-bind:id="s.id" v-bind:value="s" v-model="checkedService" v-on:change="checkChanges(s.id)">
				<span class="service-name" style="border-bottom:1px dashed grey">{{ s.name }}</span>   {{ "     " + s.price }}&#x20bd</span></label>
				<small class="text-muted"><br>{{s.description}}</small></h5>
				<div>
					<div v-for="type in partTypesForService">
						<!-- <p>{{ type.service_for_car_id == s.id }} </p> -->
						<!-- <div class="row"> -->
							<!-- <div class="col"></div> -->
							<div>
							<div v-if="type.service_for_car_id == s.id && checkedService.indexOf(s) != -1">
								<h6><label><input type="checkbox" v-bind:value="type" v-model="checkedPartTypes" v-bind:id="type" v-on:click="checkChanges(s.id, type.part_type_id)">
								{{ type.name }}</label></h6>
								<div>
									<div v-for="part in partsForCar">
										<!-- <p>{{part.name}}  {{part}}</p> -->
										<div class="row">
										<div class="col-sm-1"></div>
										<div class="col-sm-11">
										<div v-if="part.part_type_id == type.id && part.service_for_car_id == s.id && checkedPartTypes.indexOf(type) != -1">
											<label><input type="radio" v-bind:name="part.part_type_id" v-bind:value="part" v-on:click="addPart(part)" >{{part.name}}	{{ part.price * part.count}} &#x20bd</label>
										</div>
										</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						<!-- <p>{{ partTypesForService }}</p> -->
						</div>
					</div>
				</div>
				<div class="col"></div>
				</div>
			</div> <!-- end of div row -->
		</div>
		<p>{{ checkedService }}</p>
		<p>{{ checkedPartTypes }}</p>
		<!-- p>{{services}}</p>
		<p>{{partTypesForService}}</p>
		<p>{{ partsForCar }} </p> -->
		<p>{{checkedParts}}</p>
		</div>

		
	</div>
	<!-- <div id="brandModelSettings">
		<select>
			<option v-for="logo in logos">{{ logo.img_src }}</option>
		</select>
		<p> {{ logos }} </p>
		<select>	
			<option v-for="logo in logos">{{ logo.img_src }}</option>
			
		</select>
		<p>{{ v }}</p>
	</div> -->
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script src="js/app.js"></script>
</body>
</html>